<%- include('top.ejs') %>

<div id="app">
  <h1><%= title %></h1>
  <div>
    <p>ID: <%= student.id %></p>
    <p>NAME: <%= student.name %></p>
    <p>AGE: <%= student.age %></p>
    <p>SCORE: <%= student.score %></p>
  </div>
</div>

<%- include('bottom.ejs') %>